/* Reset and Box Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    padding-top: 60px;
}

span {
    color: hsl(204, 100%, 65%);
}

p {
    font-size: 1.2rem;
}

/* Header */
header {
    width: 100%;
    background-color: rgb(243, 243, 243);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-item {
    margin: 0 15px;
}

.navbar .nav-item a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.navbar .nav-item a:hover {
    text-decoration: underline;
    text-decoration-color: hsl(204, 100%, 65%);
}

/* Home Section */
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 100px;
    margin-top: 100px;
    margin-left: 500px;
}

h1 {
    font-size: 28px;
}

.btn {
    background-color: hsl(204, 100%, 65%);
    border: none;
    padding: 0.5rem 1rem; /* Adjust padding for a more elongated button */
    margin: 15px 0;
    border-radius: 15px;
    cursor: pointer;
    height: 50px; /* Adjust height for elongation */
    width: 150px; /* Adjust width for less width */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Ensure text is centered */
    margin-bottom: 20px;
    margin-top: 20px;
}

.img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 350px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.fa-brands, .fa-regular {
    font-size: 35px;
    margin-right: 10px;
}



.icon-home {
    color: black;
}

.btn:hover {
    background-color: hsl(214, 100%, 50%);
}
/* about */

.about {
    display: flex;
    flex-direction: column;
    text-align: center;

}
.h1-about {
    color: hsl(204, 100%, 65%);
    margin-bottom: 15px;
    margin-top: 90px;
}

.p-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 574px;
    background-color: #fff;
    position: relative;
    max-width: 40%;
}

/* projects */
.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.h1-projects {
    color: hsl(204, 100%, 65%);
    margin-bottom: 15px;
    margin-top: 90px;
}





/* media queri */

